.todo-wrapper{
    width: 500px;
    padding: 20px;
    margin: 50px auto;
    background-color: #f9f9f9;

}

.input-wrapper{
    display: flex;
    height: 40px;
}
.input-wrapper input{
    flex: 1;
}
.input-wrapper button{
    flex: 0 0 100px;
    width: 100px;
    margin-left: 10px;
}